<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Mikrotik}}</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<script>
    function handleClick(item) {
        fetch(`/handle_click/${item}`)
            .then(response => response.text())
            .then(data => {
                document.getElementById('result').innerText = data;
            })
    }
</script>
</head>
<body>
    <a href="/mikrotik/">Mikrotik</a>
    <h2>List of Cammands</h2>
    <table>
    <tr>
        <th>Commands</th>
    </tr>

    <tr>
        {% for command in Commands %}
            <td><a href="/mikrotik/{{Mikrotik}}/{{ command }}/">{{command}}</a></td>
            <!-- <td><a href="javascript:void(0);" onclick="handleClick('{{command}}')">{{command}}</a></td> -->
        {% endfor %}
    </tr>
    </table>

    {{result}}
    <!-- <div id="result"></div> -->
</body>
</html>